* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(132, 132, 247);
    height: 100vh;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

header {
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}

header span{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}

header h1 span{
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form button{
    outline: none;
    border: 1px solid white;
    padding: 8px;
    background-color: bisque;
    color: blue;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}

form button:hover{
    background-color: cornflowerblue;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content{
    width: 80%;
    max-width: 60rem;
    background-color: beige;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid;
    text-align: center;
    animation: slide ease .8s;
}
@keyframes slide{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}