*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: lightblue;
    
}
.main{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pal{
    width: 40rem;
    background: white;
    padding: 5rem 3rem;
    border-radius: 5px;
}
input{
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid red;
    padding: 1 rem 5px;
    font-size: 1.6rem;
    
}
.btn{
    width: 25%;
    padding: 5px 3px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: azure;
    background-color: blueviolet;
    font-size: 1.4rem;
    cursor: pointer;
}
p.result{
    margin-top: 3.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: green;
    
}