
body {
  margin: 0;
  height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  background-color: #f5f5f5;
}

.container {
  text-align: center; /* center text & inline elements */
  background: cadetblue;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.counter h1 {
  margin-bottom: 10px;
}

.countcolor {
  display: block;
  font-size: 3rem;
  margin-bottom: 20px;
  border: 1PX;
  border-color: #f5f5f5;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
